.header__content-heading, .header__content-heading p, .header__content-heading span{
    font-family: "Lab Grotesque VN Bold";   
}
.header__content-description, .header__content-description p, .header__content-description span{
    font-family: "Lab Grotesque VN Light";
}
.main__product-title, .main__product-title p, .main__product-title span{
    font-weight: 900;
    font-family: "Lab Grotesque VN Black";
}
.main__product-description-large, .main__product-description-large p, .main__product-description-large span{
    font-family: "Lab Grotesque VN Light";
}
.main__content-preface, .main__content-preface p, .main__content-preface span{
    font-weight: 300;
    font-family: "Lab Grotesque VN Light";
}
.main__insta-hastag, .main__insta-hastag p, .main__insta-hastag span{
    font-size:20px;
    font-family: "Lab Grotesque VN Black";
}
.main__about-title h4{
    font-family: "Lab Grotesque VN Black";
}
.main__about-content, .main__about-content p, .main__about-content span{
    font-family: "Lab Grotesque VN Light";
}
.main__about-readmore, .main__about-readmore p, .main__about-readmore span{
    font-size: 17px;
}