* {
  margin: 0;
  font-family: "Lab Grotesque VN";
  font-style: normal;
}
h1 {
  font-size: 112px !important;
  line-height: 112px !important;
}

h2 {
  font-size: 64px !important;
  line-height: 68px !important;
}

h3 {
  font-size: 40px !important;
  line-height: 48px !important;
}

h4 {
  font-size: 27px !important;
  line-height: 35px !important;
}

h5 {
  font-size: 17px !important;
  line-height: 27px !important;
}

.top_nav {
  padding-left: 3rem;
  padding-right: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

hr {
  border-bottom: 1px solid #111820 !important;
}

.custom-flex {
  flex-direction: row-reverse;
}

.reset-spacing {
  margin: 0 !important;
  padding: 0 !important;
}

.bold {
  font-weight: bold;
}

.border-custom {
  border: 1px solid black !important;
}

.section-one .col-one {
  background-color: #ebeded;
}

.content-top {
  padding: 120px 60px;
}

.content-bottom p {
  margin-bottom: 0 !important;
}

.item-choose {
  padding: 10px 40px !important;
  position: relative;
}

.item-choose img {
  position: absolute;
  right: 0;
  top: 40%;
  margin-right: 15%;
}

.color {
  background-color: #ad2c35;
  height: 87px;
}

.btn-conf {
  border: none;
  box-shadow: none;
  background: none;
  padding: 10px 40px 11px;
  border-radius: 24px;
}

.btn-add-card {
  background-color: #111820;
  color: white;
  width: 100%;
  height: 80px;
  border-radius: unset;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carousel-indicators {
  position: initial !important;
  flex-direction: column !important;
  margin-left: 0 !important;
  margin-right: 30% !important;
}

.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  background-color: #111820 !important;
  border-radius: 50% !important;
}

.carousel-indicators .active {
  background-color: #111820 !important;
  height: 40px !important;
  border-radius: 25% !important;
}

.my-container {
  margin-left: 5%;
  margin-right: 5%;
}

.section-two {
  background-color: #b83d24;
  color: #fff;
}

.section {
  margin-top: 5%;
  margin-bottom: 5%;
}

.section .col-two .content .btn-shop {
  background: none;
  box-shadow: none;
  border: 1px solid #fff;
  color: #fff;
}

.section .container {
  padding: 120px 140px;
  position: relative;
  min-width: 100%;
}

.section .col-one {
  display: flex;
  justify-content: flex-end;
}

.section .col-one .title {
  flex: 0.3;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 2rem;
}

.section .col-one .image {
  flex: 0.7;
  max-width: 480px;
  display: flex;
  justify-content: center;
}

.section .col-two {
  position: relative;
  max-width: 25%;
}
.section .content {
  position: absolute;
  bottom: 0;
}

.section .hero h3 {
  font-size: 2.8rem;
  font-weight: 400;
  font-size: 2.8rem;
  font-weight: 400;
  margin-left: 18%;
  left: 0;
  position: absolute;
}

.container-conf {
  padding: 150px;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.section .item {
  padding: 40px;
}

.section .item a {
  color: #000;
}
.section .item a:hover {
  text-decoration: none;
}

.none-margin-right {
  margin-right: 0;
}

.column-x {
  flex: 0.5;
  display: flex;
  flex-direction: column;
}

.none-margin-right .item {
  padding-right: 0;
}

.sub-content {
  margin-top: 2em;
  width: 50%;
}

.btn-white-black {
  border: 1px solid #000;
  color: #000;
}

.btn-black-white {
  background: #000;
  color: #fff;
}

.slider {
  margin: 4em 0;
}

.slider-01 .owl-item .item{
  width: fit-content;
}

.slider-01.owl-carousel .owl-stage-outer{
  max-height: 400px !important;
}

.slider-01.owl-carousel .owl-item img{
  height: 400px !important;
  /* object-fit: contain; */
}

.slider-01.owl-carousel .owl-item{
  width: auto !important;
  max-width: 592.47px !important;
}

.slider-02 .item {
  margin-right: 5em;
  min-height: 300px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.slider-02 .owl-item {
  min-height: 300px !important;
  display: flex;
  align-items: center;
}

.slider-02 .owl-nav {
  border: 1px solid;
  border-radius: 24px;
  width: 5%;
}

/* .slider-02 .owl-theme .owl-nav [class*=owl-]{
  font-size: 30px;
} */

.owl-theme .owl-nav [class*="owl-"] {
  margin: 0 15px !important;
}

.owl-next span,
.owl-prev span {
  font-size: 25px;
}

/* SEND PHOTO */

.section-send-photo {
  margin-right: 5%;
  margin-left: 5%;
}
.section-send-photo p {
  color: #7d868c;
}

.section-send-photo input[type="text"],
.voucher input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.textarea textarea {
  font-size: 17px;
  line-height: 27px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
}

.btn-disable {
  opacity: 0.2;
}

#type-image {
  color: #7d868c;
  font-size: 14px;
  line-height: 18px;
}

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[type="file"] + label {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 20px 40px;
  width: 480px;
  height: 120px;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
  background-color: #f15d22;
}

[type="file"]:focus + label {
  outline: 1px dotted #000;
}

.section-send-photo .col-image {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.section-send-photo .col-image h5.bold {
  margin-top: 2em;
  width: 65%;
}

label {
  margin-bottom: 0 !important;
}

/* pretty radio */
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.3rem;
  border-style: solid;
  border-width: 0.1rem;
  background: #ebeded;
  border-color: #ebeded;
}

input[type="checkbox"]:checked + *::before {
  content: "✓";
  color: white;
  text-align: center;
  background: #000;
}

/* Choose color */
.choose-color .col-one,
.choose-color .col-two {
  max-height: 720px;
}

.rectangles {
  max-height: 500px;
  overflow-y: scroll;
}

.rectangles img {
  max-width: 240px;
  min-height: 120px;
}

.active-rectangle {
  border: 10px solid black;
}

.btn-size {
  font-weight: normal;
  border: none;
  background: none;
  /* padding: 2px; */
  margin-right: 0.4em;
  width: 80px;
  height: 80px;
  color: gray;
}

.btn-size-large {
  width: 315px;
  height: 80px;
}

.btn-size.active {
  background-color: #000000 !important;
  color: white !important;
  border-radius: 40px;
  padding: 5px 10px 5px 10px;
}

.btn-size:focus {
  outline: none;
}
#size {
  margin-top: 5em;
}

.send-email {
  background-color: #111820;
  color: #fff;
  padding: 50px 120px;
}

.display-on {
  display: block !important;
}
.send-email {
  position: absolute;
  display: none;
  width: 100%;
  bottom: 0;
}

.send-email input[type="email"] {
  padding-bottom: 10px;
}

.x-button:hover {
  cursor: pointer;
}

.x-button h5 {
  color: #7d868c;
}
.x-button img {
  position: absolute;
  right: 1em;
  top: 1em;
}

.send-email .enter-input {
  margin-left: -1.5em;
}

.send-email .enter-input img {
  width: 100%;
}

/* ADD CART */
.voucher {
  /* margin-top: 30%; */
}

.choose-cart {
  margin: 10% 0% 0 10%;
}

.item-cart {
  display: flex;
  justify-content: space-between;
  margin-right: 30%;
}

.input-number {
  border: 1px solid;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.price-cart-item h5 {
  margin-top: 70px;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  opacity: 0.8; /* for demo purpose  */
}

.temp-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-cart {
  display: flex;
  /* width: 100vw; */
  justify-content: space-between;
}

.btn-cart-item {
  height: 50px;
  border: none;
  width: 100vh;
  /* background: none; */
}

.btn-white-black-border-top {
  border-top: 1px solid black;
}

.img-card-item {
  margin-bottom: 4em;
}

.img-card-item img {
  width: 120px;
  height: 80px;
}

.scroll-items {
  overflow-y: scroll;
  max-height: 55vh;
}

.balloon {
  position: fixed;
  background-color: #ebeded;
  padding: 10px 15px;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.cover {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.large-text {
  font-size: 320px;
  line-height: 320px;
}

.cover-img {
  position: fixed;
  top: 27em;
  z-index: 999;
}

.card-right {
  /* display: none; */
  width: 50vw;
  float: right;
}

.hidden {
  display: none;
}

.appear {
  display: block;
}

/* .transition-section{
  display: block;
} */

.w3-animate-left {
  animation: animateleft 1s !important;
}
.w3-animate-right {
  animation: animateright 1s !important;
}

.step-number{
  display: flex;
}

.step-number h1{
  color: #B7BFC5;
}
.step-number h1.active{
  color: #000;
}
.step-number h1.active::after{
  color: #000;
  content: url("../assets/icons/rect-step.png");
}