.slider-labels {
  margin-top: 10px;
}

/* Functional styling;
   * These styles are required for noUiSlider to function.
   * You don't need to change these rules to apply your design.
   */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
   * Browsers can paint handles in their own layer.
   */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Slider size and handle placement;
   */
.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -7px;
  top: -4px;
  background-color: #000;
}

/* Styling;
   */
.noUi-background {
  background: #d6d7d9;
  height: 10px;
}

.noUi-connect {
  background: #000;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}
/* Handles and cursors;
   */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid #345dbb;
  border: 8px solid rgba(53, 93, 187, 0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -11px;
}

.noUi-horizontal .noUi-handle::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  color: #fff;
  border-radius: 50%;
  top: 6px;
  border: 3px solid;
  left: 6px;
}

.noUi-background::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  color: #fff;
  border-radius: 50%;
  top: 3px;
  border: 3px solid;
  left: 6px;
}

.noUi-background::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  color: #fff;
  border-radius: 50%;
  top: 3px;
  border: 3px solid;
  right: 1px;
}
/* Disabled state;
   */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

#slider-range-value1 {
  position: absolute;
  left: 0;
}

#slider-range-value2 {
  position: absolute;
  left: 100%;
}

.caption {
  position: relative;
  width: 100%;
}

#slider-range-temp1.temp-value {
  position: absolute;
  font-size: 17px;
  color: grey;
  left: 4%;
  display: none;
}

#slider-range-temp2.temp-value {
  position: absolute;
  font-size: 17px;
  left: 92%;
  color: grey;
  display: none;
}

@media only screen and (max-width: 600px) {
  #slider-range-value2{
    left: 90%;
  }
}