/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    color: red !important;
    font-size: 56px !important;
    line-height: 56px !important;
  }

  h2 {
    font-size: 36px !important;
    line-height: 40px !important;
  }

  h3 {
    font-size: 27px !important;
    line-height: 35px !important;
  }

  h4 {
    font-size: 20px !important;
    line-height: 27px !important;
  }

  h5 {
    font-size: 15px !important;
    line-height: 22px !important;
  }

  .container-left {
    margin-left: 5%;
  }

  .top_nav{
      padding-left: 0;
      padding-right: 0;
  }
  .menu_top a:not(:first-child) {
    display: none;
  }
  .menu_top a.icon {
    /* float: right; */
    font-size: 20px;
    display: block;
  }

  .menu_top.responsive {
    position: relative;
  }
  .menu_top.responsive .icon {
    position: absolute;
    left: 20%;
    top: 0;
  }
  .menu_top.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .menu_top.responsive {
    float: none;
  }

  .section-one .col-one img,
  .section-three .col-one img,
  .section-five .col-one img,
  .section-six .col-one img,
  .section-seven .col-one img {
    max-width: 320px;
  }

  .section-one .col-one .text,
  .section-three .col-one .text,
  .section-five .col-one .text,
  .section-six .col-one .text,
  .section-seven .col-one .text {
    display: block;
    margin-left: 0;
  }

  .section-three > .row, .section-six > .row{
      flex-direction: column-reverse;
  }

  .section-two,
  .section-four {
    margin: 0;
  }

  .section-two .container,
  .section-four .container {
    padding: 40px;
  }

  .section-two .col-one,
  .section-four .col-one {
    display: block;
  }

  .section-two .col-one .image img,
  .section-four .col-one .image img {
    width: 320px;
  }

  .section-two .col-one .content,
  .section-four .col-one .content {
    margin-top: 1rem;
    margin-left: 0;
  }

  .section-two .col-one h3,
  .section-four .col-one h3 {
    margin-left: 5%;
    left: 0;
    top: 1.2em;
    position: absolute;
  }

  .section-two .col-two,
  .section-four .col-two {
    max-width: 100%;
  }
  .section-two .content,
  .section-four .content {
    position: unset;
    margin-top: 2em;
  }

  .section-two .col-one .title,
  .section-four .col-one .title {
    font-size: 36px !important;
    line-height: 40px !important;
    justify-content: unset;
  }

  .modal-body {
    padding: 30px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    color: green !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    color: yellow !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    color: blue !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    color: purple !important;
  }
}
