* {
  margin: 0;
  font-family: Lab Grotesque VN;
  font-style: normal;
}
h1 {
  font-size: 112px !important;
  line-height: 112px !important;
}

h2 {
  font-size: 64px !important;
  line-height: 68px !important;
}

h3 {
  font-size: 40px !important;
  line-height: 48px !important;
}

h4 {
  font-size: 27px !important;
  line-height: 35px !important;
}

h5 {
  font-size: 17px !important;
  line-height: 27px !important;
}

.container {
  /* margin: 0 !important; */
}

.btn-colors button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 0.5rem;
  border: 0;
  box-shadow: none;
  transition: all 3s;
}

.btn-colors .color-black {
  background-color: #111820;
}

.btn-colors .color-green {
  background-color: #185549;
}

.btn-colors .color-blue {
  background-color: #1d5ab5;
}

.btn-colors .color-pink {
  background-color: #ff67a7;
}

.btn-colors .color-orange {
  background-color: #fa5d1a;
}

.btn-colors .color-grey {
  background-color: #ebeded;
}

.btn-colors .color-red {
  background-color: #b83d24;
}

.btn-colors .color-yellow {
  background-color: #ffc700;
}

.btn-colors .color-grey-dark {
  background-color: #adb4b9;
}

.btn-colors .color-grey-photo {
  background-color: #ebeded;
}

.btn-colors .color-purple {
  background-color: #6d5093;
}

.container-left {
  margin-left: 10%;
}

.header h1 {
  padding-bottom: 2rem;
}

.header hr {
  border-top: 1px solid rgb(0 0 0);
  margin-bottom: 0;
}

.top_nav {
  padding-left: 3rem;
  padding-right: 3rem;
}

.top_nav .icon {
  height: 46px;
  width: 46px;
  object-fit: contain;
}

.menu_top {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.number-nav {
  font-size: 15px;
  position: absolute;
  margin-left: 5px;
  font-weight: 400;
  top: 0;
}

.menu_top a,
.menu_top button {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 30px 14px 0px;
  text-decoration: none;
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
  position: relative;
}

.menu_top button:focus {
  outline: none;
  box-shadow: none;
}

.menu_top .icon {
  display: none;
}

.menu_top a:hover {
  text-decoration: none;
}

.modal-body {
  padding: 80px !important;
}

.modal-body h4 {
  font-weight: bold;
  font-size: 27px;
  font-style: normal;
  margin-bottom: 1em;
  margin-top: 0.4em;
}

.modal-body h4 span {
  font-weight: 100;
  color: #111820;
}

.modal-body .btn-colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.modal-body .btn-colors button {
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.modal-body .col-one,
.modal-body .col-two {
  flex: 0.4;
}

.modal-dialog {
  max-width: 1200px !important;
}

.modal-body .col-two span {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.4em;
  font-weight: 600;
}

.modal-body .col-two .item {
  margin-right: 5em;
}

.modal-body .col-two .item .btn-size {
  font-weight: normal;
  border: none;
  background: none;
  padding: 2px;
  margin-right: 0.4em;
  width: 48px;
  height: 48px;
}

.active {
  background-color: #000000 !important;
  color: white !important;
  border-radius: 50%;
}

.section-one,
.section-three,
.section-five,
.section-six,
.section-seven {
  min-width: 100%;
  margin: 5em;
}

.section-one .col-one {
  background-color: #00416a;
  padding: 150px 30px;
  display: flex;
  justify-content: center;
  position: relative;
}

.section-three .col-one {
  background-color: #b83d24;
  padding: 150px 30px;
  display: flex;
  justify-content: center;
  position: relative;
}

.section-five .col-one {
  background-color: #7d868c;
  padding: 150px 30px;
  display: flex;
  justify-content: center;
  position: relative;
}

.section-six .col-one {
  background-color: #9a612d;
  padding: 150px 30px;
  display: flex;
  justify-content: center;
  position: relative;
}

.section-seven .col-one {
  background-color: #12312b;
  padding: 150px 30px;
  display: flex;
  justify-content: center;
  position: relative;
}

.section-one .col-two,
.section-three .col-two,
.section-five .col-two,
.section-six .col-two,
.section-seven .col-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.section-one .col-two .item,
.section-three .col-two .item,
.section-five .col-two .item,
.section-six .col-two .item,
.section-seven .col-two .item {
  flex: 0.5;
}

.section-one .col-one .text,
.section-three .col-one .text,
.section-five .col-one .text,
.section-six .col-one .text,
.section-seven .col-one .text {
  color: white;
  position: absolute;
  bottom: 2.2rem;
  margin-left: -5em;
  /* display: flex; */
  justify-content: space-between;
  font-weight: 600;
  /* margin-top: 2rem; */
}

.section-one .col-two .item .text,
.section-three .col-two .item .text,
.section-five .col-two .item .text,
.section-six .col-two .item .text,
.section-seven .col-two .item .text {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.section-two {
  background-color: #f6e7dc;
  margin: 5em;
}

.section-two .col-two .content .btn-shop {
  padding: 10px 40px 11px;
  border-radius: 24px;
  background-color: #111820;
  box-shadow: none;
  border: none;
  color: #fff;
}

.section-four {
  background-color: #ffc700;
  margin: 5em;
}

.section-two .container,
.section-four .container {
  padding: 120px 140px;
  position: relative;
  min-width: 100%;
}

.section-two .col-one,
.section-four .col-one {
  display: flex;
  justify-content: space-evenly;
}

.section-two .col-one .title,
.section-four .col-one .title {
  /* flex: 0.4; */
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.section-two .col-one .image,
.section-four .col-one .image {
  flex: 0.6;
  max-width: 480px;
}

.section-two .col-two,
.section-four .col-two {
  position: relative;
  max-width: 25%;
}
.section-two .content,
.section-four .content {
  position: absolute;
  bottom: 0;
}

.section-two .hero h3,
.section-four .hero h3 {
  font-size: 2.8rem;
  font-weight: 400;
  font-size: 2.8rem;
  font-weight: 400;
  margin-left: 18%;
  left: 0;
  position: absolute;
}
