* {
  margin: 0;
  font-family: Lab Grotesque VN;
  font-style: normal;
}
h1 {
  font-size: 112px !important;
  line-height: 112px !important;
}

h2 {
  font-size: 64px !important;
  line-height: 68px !important;
}

h3 {
  font-size: 40px !important;
  line-height: 48px !important;
}

h4 {
  font-size: 27px !important;
  line-height: 35px !important;
}

h5 {
  font-size: 17px !important;
  line-height: 27px !important;
}

.h2-special {
  position: absolute !important;
  left: 0;
  top: 40px;
  width: 33%;
  transition: all 0.2s;
}

.header {
  position: relative;
  color: #fff;
}

.container-conf {
  padding: 75px;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.my-container {
  margin-left: 120px;
  margin-right: 120px;
}

.banner {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url("../assets/images/273A4837 1.png");
  width: 100%;
  height: 100vh;
  padding: 100px 140px;
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner img {
  max-width: 1200px;
  height: 180px;
}

.description {
  width: 40vw;
}

.bold {
  font-weight: bold;
}

.description span {
  font-weight: bold;
}

.section-one {
  background-color: #b83d24;
}

.section-two {
  background-color: #00416a;
}

.section-three {
  background-color: #12312b;
}

.section {
  margin-top: 120px;
  margin-bottom: 120px;
  color: #fff;
}

.section .col-two .content .btn-shop {
  padding: 10px 40px 11px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: none;
  border: none;
  color: #111820;
}

.btn-shop > h5 {
  font-weight: 400;
}

.section .container {
  padding: 120px 140px;
  position: relative;
  min-width: 100%;
}

.section .col-one {
  display: flex;
  justify-content: flex-end;
}

.section .col-one .title {
  margin-top: 1em;
  font-weight: 300;
}

.section .col-one .image {
  flex: 0.7;
  max-width: 480px;
  display: flex;
  justify-content: center;
}

.section .col-two {
  position: relative;
  max-width: 25%;
  margin-left: 64px;
}
.section .content {
  position: absolute;
  bottom: 0;
}

.section .content h4 {
  font-weight: 900;
}

.section .content h5 {
  font-weight: 400;
}

.section .hero h3 {
  font-size: 2.8rem;
  font-weight: 400;
  font-size: 2.8rem;
  font-weight: 400;
  margin-left: 18%;
  left: 0;
  position: absolute;
}

.grid {
  margin-top: 5%;
  margin-bottom: 5%;
}

.section-four {
  margin-top: 5%;
  margin-bottom: 5%;
}

.section-four > h4 {
  margin-bottom: 64px;
}

.section-four .col-two .item {
  float: right;
}

.section-four .item {
  max-width: 480px;
  margin-bottom: 127px;
}

.section-four .item h5 {
  margin-top: 32px;
}

.mt-200 {
  margin-top: 200px;
}

.on-mobile {
  display: none;
}

.section-four.section4-mobile {
  display: none;
}

.section-without-container {
  margin-top: 120px;
  margin-bottom: 120px;
}

.section-without-container .container {
  padding: 120px 140px;
  position: relative;
  min-width: 100%;
  color: white;
  margin: 0;
}

.section-without-container .col-one {
  position: relative;
  padding: 0;
}

.section-without-container .col-one .image {
  flex: 0.6;
  float: right;
}

.section-without-container .col-one .image img {
  width: 100%;
  height: auto;
  transition: all 0.2s;
  width: 640px;
}

.section-without-container .col-two {
  position: relative;
  /* max-width: 25%; */
}
.section-without-container .content {
  position: absolute;
  bottom: 0;
  width: 80%;
  margin-left: 64px;
}

.section-without-container .content > h4 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-without-container .col-two .content .btn-shop {
  padding: 10px 35px 11px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: none;
  border: none;
  color: #111820;
}

.section-without-container .hero h3 {
  font-size: 2.8rem;
  font-weight: 400;
  font-size: 2.8rem;
  font-weight: 400;
  margin-left: 18%;
  left: 0;
  position: absolute;
}

@media only screen and (max-width: 1800px) {
  .section-without-container .col-two .content .btn-shop {
    padding: 5px 35px 5px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1800px) {
  .section-without-container .col-one .image img {
    width: 480px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  
  .section-without-container .col-one .image img {
    width: 480px;
  }

  .section-without-container .container {
    padding: 90px 80px 73px 100px;
  }

  .section-without-container .content{
    margin-left: 40px;
  }

  .h2-special{
    width: 45%;
  }
}

@media only screen and (max-width: 1200px) {
  .h2-special{
    width: 60%;
  }

  .section-without-container .col-one .image img {
    width: 400px;
  }
}