.description span {
  font-weight: 900;
}
.description {
  font-weight: 300;
  font-family: "Lab Grotesque VN Thin";
}

.section .col-one .title {
  font-family: "Lab Grotesque VN Light";
}
.section .col-one .title {
  font-family: "Lab Grotesque VN Light";
}

.section-four > h4 {
  font-family: "Lab Grotesque VN Black";
  font-weight: 900 !important;
}
.d-flex > h3 {
  font-weight: 300;
  font-family: "Lab Grotesque VN Light";
}

.section-without-container .col-one .title {
  font-family: "Lab Grotesque VN Light";
}
