* {
  margin: 0;
  font-family: Lab Grotesque VN;
  font-style: normal;
}
h1 {
  font-size: 112px !important;
  line-height: 112px !important;
}

h2 {
  font-size: 64px !important;
  line-height: 68px !important;
}

h3 {
  font-size: 40px !important;
  line-height: 48px !important;
}

h4 {
  font-size: 27px !important;
  line-height: 35px !important;
}

h5 {
  font-size: 17px !important;
  line-height: 27px !important;
}

.h2-special {
  position: absolute !important;
  left: 4em;
  width: 40%;
}

.header {
  position: relative;
  color: #fff;
}

.container-conf {
  padding: 75px;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.my-container {
  margin-left: 120px;
  margin-right: 120px;
}

.banner {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url("../assets/images/273A4837 1.png");
  width: 100%;
  height: 100vh;
  padding: 100px 140px;
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner img {
  max-width: 1200px;
  height: 180px;
}

.description {
  width: 40vw;
}

.bold {
  font-weight: bold;
}

.description span {
  font-weight: bold;
}

.section-one {
  background-color: #b83d24;
}

.section-two {
  background-color: #00416a;
}

.section-three {
  background-color: #12312b;
}

.section {
  margin-top: 120px;
  margin-bottom: 120px;
  color: #fff;
}

.section .col-two .content .btn-shop {
  padding: 10px 24px 11px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: none;
  border: none;
  color: #111820;
}

.btn-shop > h5 {
  font-weight: 400;
}

.section .container {
  padding: 120px 140px;
  position: relative;
  min-width: 100%;
}

.section .col-one {
  display: flex;
  justify-content: flex-end;
}

.section .col-one .title {
  margin-top: 1em;
  font-weight: 300;
}

.section .col-one .image {
  flex: 0.7;
  max-width: 480px;
  display: flex;
  justify-content: center;
}

.section .col-two {
  position: relative;
  max-width: 25%;
  margin-left: 64px;
}
.section .content {
  position: absolute;
  bottom: 0;
}

.section .content h4 {
  font-weight: 900;
}

.section .content h5 {
  font-weight: 400;
}

.section .hero h3 {
  font-size: 2.8rem;
  font-weight: 400;
  font-size: 2.8rem;
  font-weight: 400;
  margin-left: 18%;
  left: 0;
  position: absolute;
}

.grid {
  margin-top: 5%;
  margin-bottom: 5%;
}

.section-four {
  margin-top: 5%;
  margin-bottom: 5%;
}

.section-four > h4 {
  margin-bottom: 64px;
}

.section-four .col-two .item {
  float: right;
}

.section-four .item {
  max-width: 480px;
  margin-bottom: 127px;
}

.section-four .item h5 {
  margin-top: 32px;
}

.mt-200 {
  margin-top: 200px;
}

.on-mobile {
  display: none;
}

.section-four.section4-mobile {
  display: none;
}
.on-mobile {
  display: none;
}

.section-without-container {
  margin-top: 120px;
  margin-bottom: 120px;
}

.section-without-container .container {
  padding: 120px 140px;
  position: relative;
  min-width: 100%;
  color: white;
}

.section-without-container .col-one {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 0;
}

.section-without-container .col-one .title {
  width: 33%;
}

.section-without-container .col-one .image {
  flex: 0.6;
  max-width: 480px;
}

.section-without-container .col-two {
  position: relative;
  /* max-width: 25%; */
}
.section-without-container .content {
  position: absolute;
  bottom: 0;
  width: 70%;
  /* right: 0; */
  margin-left: 64px;
}

.section-without-container .col-two .content .btn-shop {
  padding: 10px 35px 11px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: none;
  border: none;
  color: #111820;
}

.section-without-container .hero h3 {
  font-size: 2.8rem;
  font-weight: 400;
  font-size: 2.8rem;
  font-weight: 400;
  margin-left: 18%;
  left: 0;
  position: absolute;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    /* color: red !important; */
    font-size: 56px !important;
    line-height: 56px !important;
  }

  h2 {
    font-size: 36px !important;
    line-height: 40px !important;
  }

  h3 {
    font-size: 27px !important;
    line-height: 35px !important;
  }

  h4 {
    font-size: 20px !important;
    line-height: 27px !important;
  }

  h5 {
    font-size: 15px !important;
    line-height: 22px !important;
  }

  .section-four .item {
    margin-bottom: 141px;
  }

  .section-four .col-two .item {
    float: unset;
  }

  .h2-special {
    left: auto;
    top: -1.8em;
    font-size: 36px !important;
    line-height: 40px !important;
    justify-content: unset;
    width: 70%;
    margin-bottom: 0.8em;
    font-weight: 300;
  }
  .section .col-one .title {
    margin-top: 0;
  }

  .top_nav {
    padding-left: 1em;
    padding-right: 1em;
  }

  .top_nav .logo {
    margin-left: 2.5em;
  }

  .banner {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
      url("../assets/images/Hero IMG-mobile.png");
    padding: 100px 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .section .content {
    position: unset;
    margin-top: 2em;
    margin-left: 50px;
  }

  .container-conf {
    padding: 120px 0;
  }

  .section .col-one {
    display: inline;
  }

  .section .col-two {
    position: unset;
    max-width: 100%;
    margin-left: 23px;
  }

  .section .col-one .image img {
    max-width: 240px;
  }

  .section-four {
    margin-top: 30%;
    margin-bottom: 10%;
    padding: 0 15px;
  }

  .section-four .col-two {
    padding-top: 0;
  }

  .description {
    width: 100%;
  }
  .my-footer {
    padding: 40px 15px;
  }

  .hero-footer {
    flex-direction: column;
  }

  .hero-footer .menu-footer {
    display: flex;
    justify-content: space-between;
  }

  .hero-footer .menu-footer .menu-one {
    flex: 0.4;
  }
  .hero-footer .menu-footer .menu-two {
    flex: 0.4;
  }

  .logo-social {
    margin-top: 3rem;
  }

  .my-container {
    margin: 0;
  }
  .on-pc {
    display: none;
  }

  .on-mobile {
    display: block;
  }
  .banner img {
    max-width: 343px;
    height: 176px;
  }

  .section-four.section4-mobile {
    display: block;
  }

  .mt-200 {
    margin-top: 0;
  }

  .section-four .item {
    margin-bottom: 64px;
  }

  .section-without-container {
    margin: 0;
  }

  .h2-special {
    left: auto;
    top: -1.8em;
  }

  .section-without-container .container {
    padding: 120px 64px;
    margin: 0;
  }

  .section-without-container .col-one .image{
    text-align: center;
  }

  .section-without-container .col-one {
    display: block;
  }

  .section-without-container .col-one .image img {
    width: 250px;
    /* margin-left: 22px; */
  }

  .section-without-container .col-one .content {
    margin-top: 1rem;
    margin-left: 0;
  }

  .section-without-container .col-one h3 {
    margin-left: 5%;
    left: 0;
    top: 1.2em;
    position: absolute;
  }

  .section-without-container .col-two {
    max-width: 100%;
  }
  .section-without-container .content {
    position: unset;
    margin-top: 2em;
    margin-left: 0;
    width: 100%;
  }

  .section-without-container .col-one .title {
    font-size: 36px !important;
    line-height: 40px !important;
    justify-content: unset;
    margin-left: -30px;
    width: 100%;
    margin-bottom: 0.8em;
  }

  .section {
    margin: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    /* color: green !important; */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    /* color: yellow !important; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    /* color: blue !important; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    /* color: #fff !important; */
  }
}
