/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    /* color: red !important; */
    font-size: 56px !important;
    line-height: 56px !important;
  }

  h2 {
    font-size: 36px !important;
    line-height: 40px !important;
  }

  h3 {
    font-size: 27px !important;
    line-height: 35px !important;
  }

  h4 {
    font-size: 20px !important;
    line-height: 27px !important;
  }

  h5 {
    font-size: 15px !important;
    line-height: 22px !important;
  }

  .top_nav {
    padding-left: 1em;
    padding-right: 1em;
  }

  .banner {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
      url("../assets/images/Hero IMG-mobile.png");
    padding: 100px 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .section .content {
    position: unset;
    margin-top: 2em;
  }

  .container-conf {
    padding: 50px 0;
  }

  .section .col-one {
    display: inline;
  }

  .section .col-two {
    position: unset;
    max-width: 100%;
  }

  .section .col-one .image img {
    max-width: 240px;
  }

  .section-four {
    margin-top: 30%;
    margin-bottom: 10%;
  }

  .section-four .col-two{
    padding-top: 0;
  }

  .description {
    width: 100%;
  }
  .my-footer {
    padding: 40px 15px;
  }

  .hero-footer {
    flex-direction: column;
  }

  .hero-footer .menu-footer {
    display: flex;
    justify-content: space-between;
  }

  .hero-footer .menu-footer .menu-one {
    flex: 0.4;
  }
  .hero-footer .menu-footer .menu-two {
    flex: 0.4;
  }

  .logo-social {
    margin-top: 3rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    color: green !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    color: yellow !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    color: blue !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    color: #fff !important;
  }
}
