.main {
  overflow: hidden;
  background-color: var(--text-color);
}

.app {
  width: 100%;
}

h1 {
  font-size: 112px !important;
  line-height: 112px !important;
}

h2 {
  font-size: 64px !important;
  line-height: 68px !important;
}

h3 {
  font-size: 40px !important;
  line-height: 48px !important;
}

h4 {
  font-size: 27px !important;
  line-height: 35px !important;
}

h5 {
  font-size: 17px !important;
  line-height: 27px !important;
}

.paddingb-0 {
  padding-bottom: 0 !important;
}

.heading {
  /* position: relative; */
  padding-top: 50%;
  background: url("../../assets/images/www.rimowa\ 1.png") right top / 52%
    no-repeat;
  height: 76vh !important;
}


.active-location-item {
  color: #fff !important;
  border-bottom: 4px solid;
}

.header h1 {
  padding-top: 0;
  margin-top: 180px;
}

/* header content */

.header__content {
  position: absolute;
  top: 0;
  padding-top: calc(var(--nav-height) + 5rem);
  color: var(--white-color);
}

.header__content-slogan {
  font-weight: 700;
  letter-spacing: 2.5px !important;
  padding-bottom: 1rem;
}

.header__content-description {
  width: 38%;
  padding: 4rem 0;
  font-weight: 400;
}

.header__content-description b {
  font-weight: 700;
}

.header__content-greeting {
  font-weight: 400;
}

.location-region {
  /* width: 36%; */
  position: relative;
  margin-top: 6.8rem;
}

.location-region::before {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 1px;
  top: 5.4rem;
  right: 0;
  left: 0;
}

.location__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 33%;
  padding-left: 0;
  margin-bottom: 0;
}

.location__item {
  color: rgba(255, 255, 255, 0.3);
  padding-bottom: 2rem;
  cursor: pointer;
}

.location-item-active {
  color: var(--white-color);
  border-bottom: 8px solid var(--white-color);
}

.location-detail {
  padding: 8rem 0;
  border-bottom: 1px solid #fff;
}

.location-detail:last-child {
  border-bottom: 0;
}

.number-nav {
  font-size: 15px;
  position: absolute;
  margin-left: 5px;
  font-weight: 400;
  top: 0.9rem;
}

.row-location {
  float: left;
  display: block;
  color: var(--white-color);
  text-align: center;
  padding: 14px 30px 14px 16px;
  text-decoration: none;
  font-size: 2.7rem;
  line-height: 3.5rem;
  font-weight: 700 !important;
  position: relative;
}

.row-location-details h2 {
  font-weight: 700;
  color: var(--white-color);
}

.row-location-details__item {
  width: fit-content;
  cursor: pointer;
}

.row-location-details__item.active {
  position: relative;
  width: calc(40% + 184px);
  z-index: 1;
}

.row-location-details__item.active .text__detail-pc {
  display: block;
}

.location-details__item-hide{
  position: absolute;
  top: 3.5rem;
  bottom: 0;
  right: 0;
  left: 0;
  height: fit-content;
  color: var(--white-color);
  z-index: -1;
}

.item-hide_content {
  padding: 2rem 6rem;
  background-color: #000 !important;
}

.location-details__item-hide .item-hide_content:first-child {
  padding-top: 7.2rem;
}

.location-details__item-hide .item-hide_content:last-child {
  padding-bottom: 4rem;
}

.item-pc.location-details__item-hide {
  top: 11rem;
}

.row-location-details .row-location-details__item.active::after {
  content: "";
  background-image: url(../../assets/icons/closeemail.svg);
  position: absolute;
  top: 6rem;
  right: 2rem;
  width: 3.2rem;
  height: 3.2rem;
  background-repeat: no-repeat;
  z-index: 1;
}

.row-location-details .item-pc.row-location-details__item.active::after  {
  top: 14rem;
}

.location-detail__items {
  display: none;
}

.location-detail__items.active {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}