* {
  margin: 0;
  font-family: Lab Grotesque VN;
  font-style: normal;
}

h1 {
  font-size: 112px !important;
  line-height: 112px !important;
}

h2 {
  font-size: 64px !important;
  line-height: 68px !important;
}

h3 {
  font-size: 40px !important;
  line-height: 48px !important;
}

h4 {
  font-size: 27px !important;
  line-height: 35px !important;
}

h5 {
  font-size: 17px !important;
  line-height: 27px !important;
}

.mention {
  font-size: 14px !important;
  line-height: 18px !important;
}

p {
  color: #7d868c;
}

.top_nav {
  padding-left: 3rem;
  padding-right: 3rem;
}

.my-container {
  margin:5% 120px;
  margin-right: 0 !important;
}

.my-container--mr {
  margin-right: 120px;
  margin-top: 180px;
  margin-bottom: 0;
}


.number-quantity {
  color: #000;
}

hr {
  border-top: 2px solid #111820 !important;
}

.hr-2 {
  border-top: 1px solid #111820 !important;
}

.custom-table thead th {
  border-bottom: none !important;
}

.custom-table th,
.custom-table td {
  border-top: none !important;
}

.custom-table th
{
  padding-left: 0 !important;
}

.my-container .col-one {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.col-one h1 {
  margin-bottom: 1.5em;
}

.question-answer__left-item {
  display: block;
}

.question-answer__img {
  margin-left: 10rem !important;
}

.question-answer__right {
  text-align: end;
}

.question-answer__right-item {
  display: block;
}

.col-two .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  margin-top: 20px;
}

.btn-toggle,
.btn-none {
  border: none;
  background: none;
}

.btn-toggle:focus {
  outline: none;
}

.btn-toggle:focus-visible {
  outline: none;
}


.toggle-div {
  display: none;
  margin-bottom: 4em;
}

.toggle-div p {
  color: #7d868c;
}

.toggle-div input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.bold-700 {
  font-weight: 700;
}

#btn-minus-1,
#btn-minus-2,
#btn-minus-3,
#btn-minus-4,
#btn-minus-5,
#btn-minus-6 {
  display: none;
  margin-right: 3rem;
}

#btn-plus-1,
#btn-plus-2,
#btn-plus-3,
#btn-plus-4,
#btn-plus-5,
#btn-plus-6 {
  width: 32px;
  margin-right: 3rem;
}

.btn-conf {
  margin: 2em 0;
  padding: 10px 40px 11px;
  background: none;
  border-radius: 24px;
  box-shadow: none;
  border: 1px solid #000;
  color: #000;
}

.btn-togglePass {
  border: none;
  background: none;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 1em;
}
.btn-togglePass i {
  font-size: 22px;
}

.card-custom {
  background-color: #ebeded;
  padding: 20px 20px 60px 20px;
  clip-path: polygon(
    0% 0%,
    0 95%,
    2.5% 100%,
    5% 95%,
    7.5% 100%,
    10% 95%,
    12.5% 100%,
    15% 95%,
    17.5% 100%,
    20% 95%,
    22.5% 100%,
    25% 95%,
    27.5% 100%,
    30% 95%,
    32.5% 100%,
    35% 95%,
    37.5% 100%,
    40% 95%,
    42.5% 100%,
    45% 95%,
    47.5% 100%,
    50% 95%,
    52.5% 100%,
    55% 95%,
    57.5% 100%,
    60% 95%,
    62.5% 100%,
    65% 95%,
    67.5% 100%,
    70% 95%,
    72.5% 100%,
    75% 95%,
    77.5% 100%,
    80% 95%,
    82.5% 100%,
    85% 95%,
    87.5% 100%,
    90% 95%,
    92.5% 100%,
    95% 95%,
    97.5% 100%,
    100% 95%,
    100% 0
  );
  margin-bottom: 3em;
}

.card-custom .table th,
.card-custom .table td {
  border-top: none;
  padding: 1rem;
}

.card-custom .table thead th {
  border-bottom: 2px solid #000;
}

.card-radius {
  border: none;
  background: #ebeded;
  border-radius: 40px;
  padding: 12px 40px 13px;
  margin-bottom: 1em;
  width: fit-content;
}

.card-radius h4 {
  margin-bottom: 0 !important;
}

.radio-button {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  margin-bottom: 0 !important;
  width: unset;
  margin-right: 1em;
}

.item-size-giay {
  display: flex;
  flex-direction: column;
}

.item-size-giay .tilte-top {
  display: flex;
  justify-content: unset !important;
  align-items: center;
  margin-bottom: 1em;
}

.item-size-giay .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em !important;
}

.item-size-giay .item img {
  margin-right: 2em;
}

.item-size-giay .item h4 {
  margin-bottom: 0 !important;
}

.item-size-giay .card-custom {
  padding: 20px 40px !important;
}

.none-clip-path {
  clip-path: none;
}

.item-size-giay .card-custom .table thead th {
  border-bottom: 1px solid black !important;
  padding: 0px !important;
}

.opacity-3 {
  opacity: 0.3;
}

.card-color {
  background-color: #00416a;
  min-height: 337px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-color .btn-conf {
  background-color: #fff;
  color: #000;
  border: none;
}

#lh input{
  background-color: #ebeded;
}

.area-input{
  padding-bottom: 120px;
}

.card-custom__email::placeholder {
  color: #757575 !important;
}

.text-of-content {
  border-bottom: 1px solid #B7BFC5 !important;
}

.davai-mobile {
  display: none;
}