

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .on-mobile{
    display: block;
  }

  .on-mobile.login-space{
    padding-left: 15px;
    margin-top: 80px;
  }

  .on-mobile .items-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .items-card .content{
    flex: 1;
  }

  .item-card-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item-card-mobile p{
    flex: 0.5;
  }

  .item-card-mobile h5{
    flex: 0.5;
  }

  .on-mobile .card-custom{
    padding-bottom: 40px;
  }
  
  .on-mobile .card-custom .btn-conf{
    padding: 10px 20px 10px;
  }

  .on-desktop{
    display: none;
  }
  h1 {
    /* color: red !important; */
    font-size: 56px !important;
    line-height: 56px !important;
  }

  h2 {
    font-size: 36px !important;
    line-height: 40px !important;
  }

  h3 {
    font-size: 27px !important;
    line-height: 35px !important;
  }

  h4 {
    font-size: 20px !important;
    line-height: 27px !important;
  }

  h5 {
    font-size: 15px !important;
    line-height: 22px !important;
  }

  .top_nav {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

  .top_nav .logo {
    margin-left: 2.5em;
  }

  .account .col-two .item{
    margin-bottom: 1em;
  }

  .bold{
    font-weight: bold !important;
  }

  .my-container {
    margin: 5%;
  }

  .btn-conf {
    padding: 10px 13px 10px;
  }

  .img-progress {
    margin-left: -50px;
  }

  .number-quantity{
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    /* color: green !important; */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    /* color: yellow !important; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    /* color: blue !important; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    /* color: black !important; */
  }
}
