* {
  margin: 0;
  font-family: Lab Grotesque VN;
  font-style: normal;
}
h1 {
  font-size: 112px !important;
  line-height: 112px !important;
}

h2 {
  font-size: 64px !important;
  line-height: 68px !important;
}

h3 {
  font-size: 40px !important;
  line-height: 48px !important;
}

h4 {
  font-size: 27px !important;
  line-height: 35px !important;
}

h5 {
  font-size: 17px !important;
  line-height: 27px !important;
}

p{
  color: #7D868C;
}

.top_nav {
  padding-left: 3rem;
  padding-right: 3rem;
}

.my-container {
  margin: 5% 15%;
}

.number-quantity {
  color: #000;
}

hr {
  border-top: 3px solid #111820 !important;
}

.col-one .logo-smile {
  width: 80px;
  height: 80px;
}

.col-one h1 {
  margin-bottom: 1.5em;
}

.col-two .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.btn-toggle,
.btn-none {
  border: none;
  background: none;
}

.toggle-div {
  display: none;
  margin-bottom: 4em;
}

.toggle-div p {
  color: #7d868c;
}

.toggle-div input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 0.5em;
  font-weight: bold;
}

#btn-minus-1,
#btn-minus-2,
#btn-minus-3,
#btn-minus-4 {
  display: none;
}

.btn-conf {
  margin: 2em 0;
  padding: 10px 40px 11px;
  background: none;
  border-radius: 24px;
  box-shadow: none;
  border: 1px solid #000;
  color: #000;
}

.btn-togglePass {
  border: none;
  background: none;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 1em;
}
.btn-togglePass i {
  font-size: 22px;
}

.card-custom {
  background-color: #ebeded;
  padding: 20px 20px 60px 20px;
  clip-path: polygon(
    0% 0%,
    0 95%,
    2.5% 100%,
    5% 95%,
    7.5% 100%,
    10% 95%,
    12.5% 100%,
    15% 95%,
    17.5% 100%,
    20% 95%,
    22.5% 100%,
    25% 95%,
    27.5% 100%,
    30% 95%,
    32.5% 100%,
    35% 95%,
    37.5% 100%,
    40% 95%,
    42.5% 100%,
    45% 95%,
    47.5% 100%,
    50% 95%,
    52.5% 100%,
    55% 95%,
    57.5% 100%,
    60% 95%,
    62.5% 100%,
    65% 95%,
    67.5% 100%,
    70% 95%,
    72.5% 100%,
    75% 95%,
    77.5% 100%,
    80% 95%,
    82.5% 100%,
    85% 95%,
    87.5% 100%,
    90% 95%,
    92.5% 100%,
    95% 95%,
    97.5% 100%,
    100% 95%,
    100% 0
  );
  margin-bottom: 3em;
}

.card-custom .table th,
.card-custom .table td {
  border-top: none;
  padding: 1rem;
}

.card-custom .table th h5,
.card-custom .table td h5 {
  font-weight: bold;
}

.card-custom .table thead th {
  border-bottom: 2px solid #000;
}

.card-radius {
  border: none;
  background: #ebeded;
  border-radius: 40px;
  padding: 12px 40px 13px;
  margin-bottom: 1em;
  width: fit-content;
}

.card-radius h4 {
  margin-bottom: 0 !important;
}

.radio-button {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  margin-bottom: 0 !important;
  width: unset;
  margin-right: 1em;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    /* color: red !important; */
    font-size: 56px !important;
    line-height: 56px !important;
  }

  h2 {
    font-size: 36px !important;
    line-height: 40px !important;
  }

  h3 {
    font-size: 27px !important;
    line-height: 35px !important;
  }

  h4 {
    font-size: 20px !important;
    line-height: 27px !important;
  }

  h5 {
    font-size: 15px !important;
    line-height: 22px !important;
  }

  .top_nav {
    padding-left: 1em;
    padding-right: 1em;
  }

  .my-container {
    margin: 5%;
  }

  .btn-conf {
    padding: 10px 13px 10px;
  }

  .img-progress {
    margin-left: -50px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    color: green !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    color: yellow !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    color: blue !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    color: black !important;
  }
}
