h4 {
  font-weight: 300;
}

h5 {
  font-weight: 400;
}

.my-footer {
  background-color: #111820;
  color: #7d868c;
  padding: 64px 120px;
}

.my-footer .col-one h4 {
  color: #fff;
}

.my-footer .col-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-footer ul h4 {
  margin: 0;
  padding: 0;
  color: #7d868c !important;
}

.menu-footer .menu-one {
  margin-bottom: 3.5rem;
  padding-left: 0;
}

.menu-footer .menu-one h4 {
  width: fit-content;
}

.menu-footer .menu-two {
  padding-left: 0;
}

.container-input-email {
  position: relative;
  width: 480px;
}

.menu-footer ul li {
  list-style: none;
  margin-bottom: 3px;
}

.menu-footer ul h4:hover {
  cursor: pointer;
  color: #fff !important;
}

.logo-social {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-social img {
  height: 34px;
  margin-left: 8px;
  margin-right: 8px;
}

.logo-social span {
  float: right;
}

.enter-input {
  position: absolute;
  margin-left: -2em;
  width: 46px;
  height: 46px;
  bottom: 0;
  right: 0;
}

.enter-input:hover {
  cursor: pointer;
}

.enter-input img {
  width: 46px;
  height: 46px;
}

input[type="email"] {
  width: 100%;
  border: none;
  background: none;
  /* border-bottom: 1px solid white; */
  color: #fff;
  font-weight: bold;
  font-size: 27px;
  line-height: 35px;
  margin-top: 1em;
}

input[type="email"]::placeholder {
  color: #fff;
}

.email-hr {
  border-bottom: 1px solid #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    /* color: red !important; */
    font-size: 56px !important;
    line-height: 56px !important;
  }

  h2 {
    font-size: 36px !important;
    line-height: 40px !important;
  }

  h3 {
    font-size: 27px !important;
    line-height: 35px !important;
  }

  h4 {
    font-size: 20px !important;
    line-height: 27px !important;
  }

  h5 {
    font-size: 15px !important;
    line-height: 22px !important;
  }

  .my-footer {
    overflow: hidden;
    box-sizing: border-box;
    padding: 48px 20px;
  }

  .container-input-email {
    width: 100%;
  }

  .enter-input img {
    width: 32px;
    height: 32px;
  }

  .hero-footer {
    flex-direction: column;
  }

  .hero-footer .menu-footer {
    display: flex;
    justify-content: space-between;
  }
  .enter-input {
    right: 0;
    bottom: 10px;
    width: 32px;
    height: 32px;
  }

  .hero-footer .menu-footer .menu-one {
    flex: 0.4;
  }
  .hero-footer .menu-footer .menu-two {
    flex: 0.4;
  }

  .logo-social {
    margin-top: 3rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    /* color: yellow !important; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    /* color: blue !important; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    /* color: #fff !important; */
  }
}
