:root {
  --white-color: #fff;
  --text-color: #111820;
}

html {
  /*Trick de fontsize 62,5% thì 1rem  sẽ là 10px muốn để
    font-size = 12 thì --> 1.2rem*/
  font-size: 62.5%;
  line-height: 2.7rem;
  /*font sans-serif là chủng font chữ k chân, sẽ hiển thị
    trong khi đợi font Roboto được tải về*/
  font-family: "Lab Grotesque VN", sans-serif;
  box-sizing: border-box;
}

/* navigation */
.nav-content {
  position: relative;
}

.top_nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 2.4rem 4rem;
  z-index: 2;
}

.top_nav .logo {
  margin-left: 40px;
}

.top_nav .user .navtop-icon:nth-child(2) > img {
  margin-left: 40px;
}

.number-quantity {
  color: #fff;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.3);
  z-index: 1; 
  display: none;
  animation: fadeIn linear 0.5s;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
}

.nav-slider {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 48.7%;
  background-color: var(--white-color);
  padding: 7% 7% 4% 7%;
  z-index: 16;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform linear 0.5s, opacity linear 0.5s;
}


.nav-active.nav-slider {
  transform: translateX(0%);
  opacity: 1;
}

.nav-active.nav-overlay {
  display: block;
}

/* select */

.sidebar-bottom-region label {
  margin-top: 0.6rem;
  font-size: 1.7rem;
  line-height: 2.7rem;
}

select {
  border: none;
  outline: none;
  /* background: transparent; */
  /* width: 10vh; */
  color: var(--text-color);
  font-size: 1.7rem !important;
  line-height: 2.7rem !important;
  font-weight: 700 !important;
  box-shadow: none;
}

select:focus {
  outline: none;
}

select > option {
  border: none;
  outline: 0px;
  background: transparent;
  color: #b7bfc5;
}
/* 
select#language {
  width: 12vh;
} */

.slidebar-bottom-separate {
  border: 1px solid #b7bfc5;
  height: 2vh;
  margin: 0 1vh 0 2vh;
}
/* end select */

.nav-btn {
  cursor: pointer;
}

.nav-btn-close {
  position: absolute;
  top: 4%;
  left: 7%;
}

.nav-list {
  padding-left: 0;
  list-style: none;
  flex: 1;
}

.nav-list-item {
  display: block;
  margin-bottom: 3.2rem;
}

.slidebar-content {
  height: 100%;
}

.sidebar-bottom-ship {
  display: flex;
  align-items: center;
}

.sidebar-bottom h5 {
  color: var(--text-color);
  font-weight: 700;
}

.sidebar-bottom-text {
  color: #7d868c;
  font-size: 1.7rem;
  line-height: 2.7rem;
  font-weight: 400;
  margin-bottom: 0;
}

.header h1 {
  padding-top: 0;
  margin-top: 180px;
}

@media only screen and (max-width: 600px) {
  .hide-on-mobile {
    display: none !important;
  }

  .show-on-mobile {
    display: block !important ;
  }

  .top_nav {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

  .top_nav .logo {
    margin-left: 2.5em;
  }

  .button-conf {
    padding: 0 2.4rem 2px !important;
    height: 44px !important;
  }

  .nav-btn-close {
    position: absolute;
    top: 0.9rem;
    left: 1.2rem;
  }

  .nav-list {
    margin: 5rem -2rem 0;
  }

  .nav-list-item {
    margin-bottom: 2rem;
  }

  .top_nav {
    padding: 1rem 1.2rem;
  }

  .top_nav .logo .icon {
    padding-top: 0;
  }

  .user {
    display: flex;
  }

  .sidebar-bottom-region label {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }

  select {
    width: 12vh;
    font-size: 1.5rem !important;
    line-height: 2.2rem !important;
    background-color: transparent !important;
  }

  select#language {
    width: 14vh;
  }

  .slidebar-bottom-separate {
    border: 1px solid #b7bfc5;
    height: 2.8vh;
    margin: 0 1vh 0 2vh;
  }

  .nav-slider {
    width: 100%;
  }

  .nav-link {
    font-size: 3.6rem;
    line-height: 4rem;
  }

  .top_nav {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .top_nav .icon {
    height: 32px;
    width: 32px;
    object-fit: contain;
  }

  .header h1 {
    padding-top: 0;
    margin-top: 106px;
  }

  .top_nav .logo {
    margin-left: 27.83px;
  }

  .top_nav .user .navtop-icon:nth-child(2) > img {
    margin-left: 27.83px;
  }
}
