.top_nav {
  padding-left: 3rem;
  padding-right: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.nav-content {
  position: relative;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
}

.nav-link {
  text-decoration: none;
  color: #111820;
}

.nav-active {
  display: initial !important;
}

.nav-slider {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 48.7%;
  background-color: #fff;
  z-index: 1;
  display: none;
  transition: 0.5s;
  padding: 7% 7% 4% 7%;
  z-index: 16;
}

.nav-list {
  padding-left: 0;
  /* margin:  */
  list-style: none;
  flex: 1;
}

.nav-list-item {
  display: block;
  margin-bottom: 3.2rem;
}

.nav-btn {
  cursor: pointer;
}

.nav-btn-close {
  position: absolute;
  top: 4%;
  left: 7%;
}

.slidebar-content {
  height: 100%;
}

.sidebar-bottom-region label {
  font-size: 1.7rem;
  line-height: 2.7rem;
  margin-bottom: 0;
}

.sidebar-bottom-ship {
  display: flex;
  align-items: center;
}

.sidebar-bottom h5 {
  color: var(--text-color);
  font-weight: 700;
}

.sidebar-bottom-text {
  color: #7d868c;
  font-size: 1.7rem;
  line-height: 2.7rem;
  font-weight: 400;
  margin-bottom: 0;
}

.slidebar-bottom-separate {
  border: 1px solid #b7bfc5;
  height: 2vh;
  margin: 0 1vh 0 2vh;
}

select {
  border: none;
  outline: none;
  /* background: transparent; */
  /* width: 10vh; */
  color: var(--text-color);
  font-size: 1.7rem;
  line-height: 2.7rem;
  font-weight: bold;
  box-shadow: none;
}

select:focus {
  outline: none;
}

select > option {
  border: none;
  outline: 0px;
  background: transparent;
  color: #b7bfc5;
}

@media only screen and (max-width: 600px) {
  .top_nav {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

  .top_nav .logo {
    margin-left: 2.5em;
  }

  .nav-slider {
    width: 100%;
  }

  .nav-link {
    font-size: 3.6rem !important;
    line-height: 4rem !important;
  }
  .navtop-icon {
    display: flex;
    width: 100%;
    height: 3.6rem;
  }

  .nav-btn-close {
    position: absolute;
    top: 0.9rem;
    left: 1.2rem;
  }
  .nav-list-item {
    margin-bottom: 2rem;
  }

  .nav-list {
    margin: 8rem -2rem;
  }
  .sidebar-bottom-text {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .sidebar-bottom {
    margin: 0 -0.6rem !important;
  }

  .sidebar-bottom-region label {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }

  select {
    width: 14vh;
    font-size: 1.5rem;
    line-height: 2.3rem;
    background-color: transparent !important;
  }

  select#language {
    width: 16vh;
  }

  .slidebar-bottom-separate {
    border: 1px solid #b7bfc5;
    height: 2.8vh;
    margin: 0 1vh 0 2vh;
  }
}
