:root {
  --nav-height: 100px;
  --product-img: 48rem;
  --white-color: #fff;
  --nav-height: 10rem;
  --nav-item-height: 46px;
  --text-header-size: 11.2rem;
  --text-color: #111820;
  --text-grey-color: #7D868C;
  --border-color: #111820;
  --font-size-lg: 4rem;
  --line-height-lg: 4.8rem;
  --font-size-md: 2.7rem;
  --line-height-md: 3.5rem;
  --font-size-sm: 1.7rem;
  --line-height-sm: 2.7rem;
}

* {
  box-sizing: inherit;
}

.container {
  padding: 0 !important;
  min-width: 100% !important;
  margin: 0 !important;
}

h2 {
  font-size: 64px;
  font-weight: 300;
  line-height: 68px;
}

h1,
h4,
h5 {
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

html {
  /*Trick de fontsize 62,5% thì 1rem  sẽ là 10px muốn để
    font-size = 12 thì --> 1.2rem*/
  font-size: 62.5%;
  line-height: 2.7rem;
  /*font sans-serif là chủng font chữ k chân, sẽ hiển thị
    trong khi đợi font Roboto được tải về*/
  font-family: "Lab Grotesque VN", sans-serif;
  box-sizing: border-box;
}

.bold {
  font-weight: 900 !important;
}

.bold-7 {
  font-weight: 700 !important;
}

.grey {
  color: var(--text-grey-color);
}

.fw-400 {
  font-weight: 400 !important;
}

.button-conf {
  min-width: 110px;
  height: 48px;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0px 40px 2px !important;
  border-radius: 24px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 3.2rem;
}

.button-conf h5 {
  font-weight: 400 !important;
}

.button-conf:focus {
  outline: none;
}

.btn-black {
  background-color: #111820;
  color: var(--white-color);
}

.btn-white {
  background-color: var(--white-color);
  color: var(--text-color);
  border: 1px solid #111820;
}

.button-conf + .button-conf {
  margin-left: 2rem;
}

.display-none {
  display: none !important;
}

.display-flex {
  display: flex !important;
}

.display-block {
  display: block !important;
}

.mb-132 {
  margin-bottom: 13.2rem;
}

input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 10px;
  margin-bottom: 0.5em;
  margin-top: 2.4rem !important;
  cursor: pointer;
  padding-left: 0 !important;
}

input:focus-visible {
  outline: none;
}

input::placeholder {
  font-size: 17px;
  font-weight: 700;
  line-height: 27px;
  color: #111820;
}

input[type="text"] {
  color: var(--text-color);
  font-size: 17px;
  font-weight: 700;
}

input[type="number"] {
    color: var(--text-color);
    font-size: 17px;
    font-weight: 700;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

