/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    /* color: red !important; */
    font-size: 56px !important;
    line-height: 56px !important;
  }

  h2 {
    font-size: 36px !important;
    line-height: 40px !important;
  }

  h3 {
    font-size: 27px !important;
    line-height: 35px !important;
  }

  h4 {
    font-size: 20px !important;
    line-height: 27px !important;
  }

  h5 {
    font-size: 15px !important;
    line-height: 22px !important;
  }
  .top_nav {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .section-one .col-one {
    min-height: 460px;
  }

  .carousel-indicators {
    position: absolute !important;
    flex-direction: initial !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
  }

  .carousel-indicators .active {
    height: 10px !important;
    width: 30px !important;
  }

  .content-top {
    padding: 40px 15px;
  }

  .container-conf {
    padding: 50px 0;
  }

  .section .col-one .image img {
    max-width: 240px;
  }

  .section .col-one {
    display: inline;
  }

  .section .col-two {
    position: unset;
    max-width: 100%;
  }

  .section .content {
    position: unset;
    margin-top: 2em;
    margin-left: 2em;
  }

  .section .col-one .title {
    display: block;
    margin-top: 0px;
    margin-bottom: 0.5em;
  }

  .my-container {
    margin-right: 0;
    margin-left: 0;
  }

  .section .item {
    padding: 20px 0;
  }

  .custom-flex {
    flex-direction: column;
  }

  .column-x .repon-display {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .column-x .repon-display img {
    max-width: 120px;
  }

  .column-x .repon-display .repon-btn {
    display: none !important;
  }
  .column-x .repon-display .repon-content {
    flex-direction: column;
    margin-top: 2em;
  }

  .slider-02 .item,
  .slider-02 .owl-item {
    min-height: 0 !important;
  }

  .slider-02 .owl-nav {
    width: 25%;
  }

  .section-send-photo .col-image {
    padding-left: 15px;
    margin-top: 3em;
  }
  [type="file"] + label {
    width: 100%;
  }

  .section-send-photo .col-image h5.bold {
    width: 100%;
    margin-bottom: 1em;
  }

  .section-send-photo input[type="text"] {
    font-size: 15px;
  }

  .choose-color .col-one {
    display: none;
  }

  .choose-color .col-two {
    max-height: 0;
  }

  .rectangles {
    max-height: 0;
    overflow-y: unset;
  }

  .btn-size {
    width: 56px;
    height: 56px;
  }
  .btn-size-large {
    width: 315px;
    height: 80px;
  }
  .color {
    height: 79px;
  }
  .send-email {
    padding: 50px;
  }

  .section-one .add-cart .col-one {
    display: none;
  }

  .section-one .add-cart .my-container{
    margin-left: 2em;
    margin-right: 0;
  }
  .item-cart{
    margin-right: 2em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    color: green !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    color: yellow !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    color: blue !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    color: purple !important;
  }
}
