
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    color: red !important;
    font-size: 56px !important;
    line-height: 56px !important;
  }

  h2 {
    font-size: 36px !important;
    line-height: 40px !important;
  }

  h3 {
    font-size: 27px !important;
    line-height: 35px !important;
  }

  h4 {
    font-size: 20px !important;
    line-height: 27px !important;
  }

  h5 {
    font-size: 15px !important;
    line-height: 22px !important;
  }

  .heading {
    height: 100vh;
  }

  .heading-bg-main {
    background-image: 
      url(../assets/images/heading-product-detail-mob.png) !important;
  }

  .heading-bg-child1 {
    background-image: 
      url(../assets/images/heading-product-detail-mob.png) !important;
  }

  .top_nav {
    padding-left: 1em;
    padding-right: 1em;
  }

  .top_nav .logo {
    margin-left: 2.5em;
  }

  .section-one .col-one {
    min-height: 460px;
  }

  .custom-flex .column-x:nth-child(2) {
    padding-left: 15px;
  }

  .repon-display .sub-content > h5 {
    display: none;
  }

  .section-send-photo .col-image {
    padding-left: 15px;
  }

  .section-send-photo .item-photo:nth-child(1) {
    margin: 40px 0;
  }

  .choose-color .col-one {
    display: none;
  }
  .choose-color .col-two{
    margin-top: 50px;
  }

  .choose-size .col-one{
    display: none;
  }

  .choose-size .btn-size{
    height: 40px;
  }

  .send-email{
    padding: 30px;
    position: fixed;
  }

  .add-cart .col-one{
    display: none;
  }

  .add-cart .choose-cart{
    padding-left: 15px;
  }

  .add-cart .item-cart{
    margin-right: 0;
  }

  .carousel-indicators {
    position: absolute !important;
    flex-direction: initial !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
  }

  .carousel-indicators .active {
    height: 10px !important;
    width: 30px !important;
  }

  .content-top {
    padding: 40px 15px;
  }

  .container-conf {
    padding: 50px 0;
  }

  .section .col-one .image img {
    max-width: 240px;
  }

  .section .col-one {
    display: inline;
  }

  .section .col-two {
    position: unset;
    max-width: 100%;
  }

  .section .content {
    position: unset;
    margin-top: 2em;
    margin-left: 2em;
  }

  .section .col-one .title {
    display: block;
    margin-top: 0px;
    margin-bottom: 0.5em;
  }

  .my-container {
    margin-right: 0;
    margin-left: 0;
  }

  .section {
    margin-top: 0;
  }

  .section .item {
    padding: 20px 0;
  }

  .custom-flex {
    flex-direction: column;
  }

  .column-x .repon-display {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .column-x .repon-display img {
    max-width: 120px;
  }

  .column-x .repon-display .repon-btn {
    display: none !important;
  }
  .column-x .repon-display .repon-content {
    flex-direction: column;
    margin-top: 2em;
  }

  .slider-02 .item,
  .slider-02 .owl-item {
    min-height: 0 !important;
  }

  .slider-02 .owl-nav {
    width: 25%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    color: green !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    color: yellow !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    color: blue !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    color: purple !important;
  }
}
